body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
    color: #333;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.link {
    text-align: center;
}
